@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@500&display=swap');


body,html {
    background-color: #201F23;
    /* background-color: #01012b; */

    height: 100%;
    font-family: 'Orbitron', sans-serif;
}




